.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlayContent {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
